.review-wrapper {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-top: 20px;
  text-align: justify;
}

.review {
  margin-bottom: 10px;
}

.review .review-rating {
  font-weight: bold;
}

.review .review-text {
  margin-top: 5px;
  text-align: justify;
}

.reviews-statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.average-stars {
  display: inline-flex;
  align-items: center;
}

.star-icon {
  margin-right: 2px;
}

.review-item {
  display: flex;
  align-items: flex-start;
}

.review-item .review-text {
  margin-top: 0;
}

.review-item .username {
  font-weight: bold;
}

.review-item .date {
  margin-left: auto;
}
